<h2>View Category</h2>
<input
  type="text"
  id="categoryName"
  name="categoryName"
  value="<%= category.name %>"
  disabled
/>

<button onclick="editCategory()">Edit</button>
<button class="delete" style="background-color: red" onclick="deleteCategory()">
  Delete
</button>
